
# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# editors / OS
.DS_Store
.idea/
.vscode/
*.log

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
_to_delete/
